.icon {
    width: 50px;
    transition: width 0.2s;
}
.icon:hover {
    width: 100px;
}
li {
    display: inline;
    float: right;
    padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}