.content {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.icon {
    width: 50px;
    transition: width 0.2s;
}
.icon:hover {
    width: 100px;
}
.nav {
    position: static;
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
}
body {
    background: url(imgs/mountain.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
li {
    float: right;
    padding-right: 10px;
    padding-bottom: 10px;
}
ul {
    list-style-type: none;
    padding-right: 10px;
}
#bio {
    height: 100px;
    width: inherit;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0;
    margin: 0;
    position: relative;
    right: 10px;
}
#headshot {
    width: 500px;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: -1;
}
#name {
    font-family: Verdana;
    color: blueviolet;
    font-size: 40px;
    position: relative;
    text-align: center;
}