.icon {
    width: 50px;
    transition: width 0.2s;
}
.icon:hover {
    width: 100px;
}
.nav {
    position: fixed;
    width: 100%;
    display: inline-block;
    background-color: #FFFFFF;
}
li {
    float: right;
    padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#name {
    font-family: Georgia;
    font-size: 20px;
}